---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Code of Conduct - FOSSNSS">
  <div class="container mx-auto p-4 max-w-3xl">
    <div class="prose dark:prose-invert lg:prose-lg max-w-none">
      <h1>Code of Conduct</h1>

      <p>
        The FOSSNSS (FOSS Cell) of NSS College of Engineering, Palakkad is a
        collective of students who like to explore and spread the open-source
        software and its ideology. Roots of this FOSS Cell dates back to the
        year 2009. The cell focusses on contributing to Free and Open-Source
        Software, advocating for free software and mentoring students to
        achieve excellence in various fields, leading the whole campus to the
        world of Freedom, Community and Free Software.
      </p>

      <p>
        The rules, guidelines, and code of conduct that follow apply to all
        the Core Members, volunteers and participants. This is a guide to make
        it easier to be excellent to each other. We expect it to be followed
        in spirit as much as in the letter.
      </p>

      <h2>Equal to all</h2>

      <p>
        No forms of comments or intimidation based on:
      </p>

      <ul>
        <li>Gender</li>
        <li>Caste</li>
        <li>Creed</li>
        <li>Background</li>
        <li>Economic status</li>
        <li>Age</li>
        <li>Education</li>
        <li>Ethnicity</li>
      </ul>

      <p>
        will not be tolerated both inside and outside of the community. Every
        member and non-member shall be recognised as equals and should be
        treated with respect and dignity.
      </p>

      <h2>Inclusive language</h2>

      <p>Use inclusive and neutral languages whenever possible.</p>

      <ul>
        <li>
          Use gender-neutral singular pronouns like "they", "them", "theirs",
          etc... unless and until specified.
        </li>
        <li>Use presentable words like everybody or people instead of guys and fellow.</li>
        <li>Avoid usage of pronouns like he/she.</li>
      </ul>

      <h2>Be Respectful</h2>

      <ul>
        <li>Respect yourself and respect others.</li>
        <li>
          A community where people feel threatened or discouraged is an
          unproductive one.
        </li>
        <li>We strive to resolve things in a courteous and respectful manner.</li>
        <li>
          We expect all the members of FOSSNSS to be respectful to other
          members as well as non-members.
        </li>
      </ul>

      <h2>Teamwork</h2>

      <ul>
        <li>
          What makes our community achieve excellence is the togetherness and
          collective effort.
        </li>
        <li>
          Support each other and grow together should be the mindset of the
          members.
        </li>
      </ul>

      <h2>Collaboration</h2>

      <ul>
        <li>Collaboration reduces redundancy and increases work quality.</li>
        <li>
          Wherever possible, we work closely with upstream projects and others
          in the free software community to coordinate our efforts.
        </li>
        <li>
          We prefer to work transparently and involve interested parties as
          early as possible.
        </li>
      </ul>

      <h2>Be Considerate</h2>

      <ul>
        <li>
          All the decisions we make are interlinked with our fellow members and
          we should consider them when we make those.
        </li>
        <li>Try to make decisions that are as inclusive as possible.</li>
      </ul>

      <h2>Responsibility</h2>

      <ul>
        <li>Take responsibility for our words and actions.</li>
        <li>
          Mistakes happen, but take full responsibility for them and strive to
          correct them through your future actions.
        </li>
      </ul>

      <h2>Ask for help when in doubt</h2>

      <ul>
        <li>Nobody becomes perfect in one day.</li>
        <li>
          We the members of FOSSNSS strive to be perfect through collective
          learning every day.
        </li>
        <li>We encourage asking questions and will be responsive and helpful.</li>
      </ul>

      <h2>Be Aware</h2>

      <ul>
        <li>
          Everyone in this community should feel welcome, regardless of their
          background.
        </li>
        <li>
          Please be courteous, respectful and polite to fellow community
          members.
        </li>
        <li>
          All participants, including event attendees and speakers must not
          engage in any intimidation, harassment, or abusive or discriminatory
          behaviour.
        </li>
      </ul>

      <h2>Communication</h2>

      <ul>
        <li>
          Communication is the key to an effective quality of work and to avoid
          misunderstandings.
        </li>
        <li>
          It's better to ask for clarification than to make assumptions.
        </li>
        <li>
          Disagreements, social and technical, are normal, but we expect
          members in the community to resolve disagreements constructively
          through proper communication.
        </li>
      </ul>

      <p>
        We expect all the members of our community to follow these codes of
        conducts and withhold the virtues and values of FOSSNSS at all times.
      </p>

      <h2>Attribution</h2>

      <p>
        This document is a result of collaborative work by the members of
        FOSSNSS from the following sources:
      </p>

      <ul>
        <li>
          <a href="https://fsci.org.in/code-of-conduct/" target="_blank"
            >Free Software Collective India Code of Conduct</a
          >
        </li>
        <li>
          <a href="https://ubuntu.com/community/code-of-conduct" target="_blank"
            >Ubuntu Code of Conduct</a
          >
        </li>
        <li>
          <a
            href="https://www.debconf.org/codeofconduct.shtml"
            target="_blank">DebConf Code of Conduct</a
          >
        </li>
        <li>
          <a href="https://www.debian.org/code_of_conduct" target="_blank"
            >Debian Code of Conduct</a
          >
        </li>
      </ul>

      <p>Feel free to propose any further additions if you feel so.</p>
    </div>
  </div>
</BaseLayout>
